POSTGRES_CONNECTION_STRING=Host=localhost;Port=5432;Database=devopsnet;Username=postgres;Password=
JWT_SECRET_KEY=
JWT_EXPIRATION_MINUTES=60
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=https://localhost:5001/api/auth/github/callback