node {
    stage('1. Checkout SCM') {
        git branch: '{BRANCH}', 
            credentialsId: '{GITHUB_CREDENTIALS_ID}', 
            url: '{GIT_URL}'
    }

    stage('2. Preparation Dockerfile Multi-Stage') {
        writeFile file: 'Dockerfile', text: """
FROM node:{NODE_VERSION}-alpine AS build-stage
WORKDIR /app
COPY package*.json ./
RUN npm install
COPY . .
RUN npm run build

FROM nginx:alpine
COPY --from=build-stage /app/{OUTPUT_DIR} /usr/share/nginx/html
EXPOSE 80
CMD ["nginx", "-g", "daemon off;"]
"""
    }

    stage('3. Build de l\'image Docker') {
        // Double tag avec la variable d'environnement Jenkins ${BUILD_NUMBER}
        sh "docker build -t {NEXUS_REGISTRY}/{JOB_NAME}:\${BUILD_NUMBER} -t {NEXUS_REGISTRY}/{JOB_NAME}:latest ."
    }

    stage('4. Push vers Nexus') {
        withCredentials([usernamePassword(credentialsId: '{NEXUS_CREDENTIALS_ID}', passwordVariable: 'NEXUS_PASS', usernameVariable: 'NEXUS_USER')]) {
            sh "docker login -u \$NEXUS_USER -p \$NEXUS_PASS {NEXUS_REGISTRY}"
            
            // Envoi des deux images distinctes sur Nexus
            sh "docker push {NEXUS_REGISTRY}/{JOB_NAME}:\${BUILD_NUMBER}"
            sh "docker push {NEXUS_REGISTRY}/{JOB_NAME}:latest"
            
            sh "docker logout {NEXUS_REGISTRY}"
        }
    }
}